<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948144866611-2qp9lffqb699m76qum6gvcup1c2iac61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948144866611-2qp9lffqb699m76qum6gvcup1c2iac61</string>
	<key>API_KEY</key>
	<string>AIzaSyD6qW39hFy9q-L1fGPz_9bVl6JtX8_4Njc</string>
	<key>GCM_SENDER_ID</key>
	<string>948144866611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gegobite.SocialApp</string>
	<key>PROJECT_ID</key>
	<string>gb-vk-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gb-vk-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948144866611:ios:3efd5360dab16769fbaa46</string>
</dict>
</plist>